.tral-light-theme {
          --theme-global-black: #04181a;
  --theme-global-white: #fffF;
  --theme-global-error: #b33f38;
  --theme-global-success: #4fb578;
  --theme-primary-standard: #1b9aaa;
  --theme-primary-hover: #3ba8b6;
  --theme-primary-pressed: #167f8c;
  --theme-primary-disabled: #cbd6dc;
  --theme-secondary-standard: #e7ecef;
  --theme-secondary-hover: #cbd6dc;
  --theme-secondary-pressed: #aebfc9;
  --theme-secondary-disabled: #cbd6dc;
  --theme-tertiary-standard: #ffffff00;
  --theme-tertiary-hover: #e7ecef;
  --theme-tertiary-pressed: #d9e1e6;
  --theme-tertiary-disabled: #cbd6dc;
  --theme-link-standard: #1b9aaa;
  --theme-link-hover: #3ba8b6;
  --theme-link-pressed: #167f8c;
  --theme-link-visited: #3ba8b6;
  --theme-link-disabled: #cbd6dc;
  --theme-fg-default: #04181a;
  --theme-fg-muted: #778289;
  --theme-fg-on-dark: #fffF;
  --theme-fg-on-light: #04181a;
  --theme-fg-gray: #cbd6dc;
  --theme-bg-default: #fffF;
  --theme-bg-muted: #cbd6dc;
  --theme-bg-gray: #e7ecef;
  --theme-bg-default-opacity-60: #ffffff99;
  --theme-bg-default-opacity-80: #ffffffcc;
  --theme-text-primary: #04181a;
  --theme-text-secondary: #778289;
  --theme-text-disabled: #cbd6dc;
  --theme-button-filled-background-primary-standard: #1b9aaa;
  --theme-button-filled-background-primary-hover: #3ba8b6;
  --theme-button-filled-background-primary-pressed: #167f8c;
  --theme-button-filled-background-primary-disabled: #cbd6dc;
  --theme-button-filled-background-secondary-standard: #e7ecef;
  --theme-button-filled-background-secondary-hover: #cbd6dc;
  --theme-button-filled-background-secondary-pressed: #aebfc9;
  --theme-button-filled-background-secondary-disabled: #cbd6dc;
  --theme-button-small-padding-top: 2;
  --theme-button-small-padding-bottom: 2;
  --theme-button-small-padding-left: 16;
  --theme-button-small-padding-right: 16;
  --theme-button-small-border-radius: 2;
  --theme-button-small-margin: 4;
  --theme-button-medium-border-radius: 3;
  --theme-button-medium-padding-top: 6;
  --theme-button-medium-padding-bottom: 6;
  --theme-button-medium-padding-left: 16;
  --theme-button-medium-padding-right: 16;
  --theme-button-medium-margin: 6;
  --theme-button-big-padding-top: 8;
  --theme-button-big-padding-bottom: 8;
  --theme-button-big-padding-left: 16;
  --theme-button-big-padding-right: 16;
  --theme-button-big-border-radius: 5;
  --theme-button-big-margin: 6;
  --theme-button-stroke-focus: #04181a;
  --theme-button-icon-only-padding-big: 8;
  --theme-button-icon-only-padding-medium: 6;
  --theme-button-icon-only-padding-small: 2;
  --theme-button-icon-only-padding-xsmall: 0;
  --theme-button-outlined-background-primary-standard: #1b9aaa00;
  --theme-button-outlined-background-primary-hover: #3ba8b61a;
  --theme-button-outlined-background-primary-pressed: #167f8c33;
  --theme-button-outlined-background-primary-disabled: #cbd6dc33;
  --theme-button-outlined-background-secondary-standard: #e7ecef00;
  --theme-button-outlined-background-secondary-hover: #cbd6dc33;
  --theme-button-outlined-background-secondary-pressed: #aebfc94d;
  --theme-button-outlined-background-secondary-disabled: #cbd6dc33;
  --theme-button-outlined-stroke-primary-standard: #1b9aaa;
  --theme-button-outlined-stroke-primary-hover: #3ba8b6;
  --theme-button-outlined-stroke-primary-pressed: #167f8c;
  --theme-button-outlined-stroke-primary-disabled: #cbd6dc;
  --theme-button-outlined-stroke-secondary-standard: #e7ecef;
  --theme-button-outlined-stroke-secondary-hover: #cbd6dc;
  --theme-button-outlined-stroke-secondary-pressed: #aebfc9;
  --theme-button-outlined-stroke-secondary-disabled: #cbd6dc;
  --theme-button-blank-background-primary-standard: #1b9aaa00;
  --theme-button-blank-background-primary-hover: #3ba8b61a;
  --theme-button-blank-background-primary-pressed: #167f8c33;
  --theme-button-blank-background-primary-disabled: #cbd6dc33;
  --theme-button-blank-background-secondary-standard: #e7ecef00;
  --theme-button-blank-background-secondary-hover: #cbd6dc33;
  --theme-button-blank-background-secondary-pressed: #aebfc94d;
  --theme-button-blank-background-secondary-disabled: #cbd6dc33;
  --theme-button-blank-stroke-primary-standard: #1b9aaa;
  --theme-button-blank-stroke-primary-hover: #3ba8b6;
  --theme-button-blank-stroke-primary-pressed: #167f8c;
  --theme-button-blank-stroke-primary-disabled: #cbd6dc;
  --theme-button-blank-stroke-secondary-standard: #e7ecef;
  --theme-button-blank-stroke-secondary-hover: #cbd6dc;
  --theme-button-blank-stroke-secondary-pressed: #aebfc9;
  --theme-button-blank-stroke-secondary-disabled: #cbd6dc;
  --theme-tab-blank-active-standard: #04181a;
  --theme-tab-blank-active-hover: #cbd6dc;
  --theme-tab-blank-active-pressed: #04181a;
  --theme-tab-blank-active-disabled: #cbd6dc;
  --theme-tab-blank-unactive-standard: #778289;
  --theme-tab-blank-unactive-hover: #04181a;
  --theme-tab-blank-unactive-pressed: #778289;
  --theme-tab-blank-unactive-disabled: #cbd6dc;
  --theme-input-focus: [object Object];
  --theme-input-medium-padding-left: 12;
  --theme-input-medium-padding-right: 12;
  --theme-input-medium-padding-top: 6;
  --theme-input-medium-padding-bottom: 6;
  --theme-input-medium-border-radius: 3;
  --theme-input-medium-margin: auto;
  --theme-input-filled-background-standard: #f5f7f9;
  --theme-input-filled-background-hover: #edf1f3;
  --theme-input-filled-background-pressed: #e7ecef;
  --theme-input-filled-background-disabled: #f5f7f9;
  --theme-input-filled-background-focus: #fffF;
  --theme-input-filled-background-error: #fffF;
  --theme-input-filled-background-success: #fffF;
  --theme-input-filled-background-readonly: #e7ecef;
  --theme-input-filled-stroke-focus: #04181a;
  --theme-input-filled-stroke-success: #1b9aaa;
  --theme-input-filled-stroke-error: #b33f38;
  --theme-input-button-counter: 2;
  --theme-input-button-calendar: 2;
  --theme-input-button-background-standard: #e7ecef00;
  --theme-input-button-background-hover: #cbd6dc;
  --theme-input-button-background-pressed: #aebfc9;
  --theme-input-button-background-disabled: #cbd6dc;
  --theme-input-big-padding-left: 12;
  --theme-input-big-padding-right: 12;
  --theme-input-big-padding-top: 10;
  --theme-input-big-padding-bottom: 10;
  --theme-input-big-margin: auto;
  --theme-input-small-padding-left: 12;
  --theme-input-small-padding-right: 12;
  --theme-input-small-padding-top: 4;
  --theme-input-small-padding-bottom: 4;
  --theme-input-small-margin: auto;
  --theme-input-label-padding-left: 2;
  --theme-input-label-padding-right: 2;
  --theme-input-label-padding-top: 0;
  --theme-input-label-padding-bottom: 0;
  --theme-input-label-border-radius: 3;
  --theme-input-label-filled-background-standard: #f5f7f9;
  --theme-input-label-filled-background-hover: #edf1f3;
  --theme-input-label-filled-background-pressed: #e7ecef;
  --theme-input-label-filled-background-disabled: #f5f7f9;
  --theme-input-label-filled-background-readonly: #e7ecef;
  --theme-input-label-filled-background-focus: #fffF;
  --theme-input-label-filled-background-error: #fffF;
  --theme-input-label-filled-background-success: #fffF;
  --theme-input-label-outlined-background-standard: #fefefe;
  --theme-input-label-outlined-background-hover: #f8fafb;
  --theme-input-label-outlined-background-pressed: #f3f5f7;
  --theme-input-label-outlined-background-disabled: #f5f7f9;
  --theme-input-label-outlined-background-readonly: #e7ecef;
  --theme-input-label-outlined-background-focus: #fffF;
  --theme-input-label-outlined-background-error: #fffF;
  --theme-input-label-outlined-background-success: #fffF;
  --theme-input-label-text: #04181ab3;
  --theme-input-outlined-background-standard: #fefefe;
  --theme-input-outlined-background-hover: #f8fafb;
  --theme-input-outlined-background-pressed: #f3f5f7;
  --theme-input-outlined-background-disabled: #f5f7f9;
  --theme-input-outlined-background-focus: #fffF;
  --theme-input-outlined-background-error: #fffF;
  --theme-input-outlined-background-success: #fffF;
  --theme-input-outlined-background-readonly: #e7ecef;
  --theme-input-outlined-stroke-standard: #cbd6dc;
  --theme-input-outlined-stroke-hover: #aebfc9;
  --theme-input-outlined-stroke-pressed: #95a4ac;
  --theme-input-outlined-stroke-disabled: #cbd6dc;
  --theme-input-outlined-stroke-readonly: #cbd6dc;
  --theme-input-outlined-stroke-focus: #04181a;
  --theme-input-outlined-stroke-success: #1b9aaa;
  --theme-input-outlined-stroke-error: #b33f38;
  --theme-input-text-placeholder: #04181ab3;
  --theme-input-text-required-tip: #04181a66;
  --theme-input-text-disabled: #778289;
  --theme-input-text-active: #04181a;
  --theme-checkbox-filled-background-standard: #e7ecef;
  --theme-checkbox-filled-background-hover: #cbd6dc;
  --theme-checkbox-filled-background-pressed: #aebfc9;
  --theme-checkbox-filled-background-disabled: #cbd6dc4d;
  --theme-checkbox-filled-background-checked: #1b9aaa;
  --theme-checkbox-filled-background-checked-hover: #3ba8b6;
  --theme-checkbox-filled-background-checked-disabled: #cbd6dc4d;
  --theme-checkbox-filled-stroke-error: #b33f38;
  --theme-checkbox-outlined-stroke-standard: #778289;
  --theme-checkbox-outlined-stroke-hover: #04181a;
  --theme-checkbox-outlined-stroke-pressed: #1b9aaa;
  --theme-checkbox-outlined-stroke-checked: #1b9aaa;
  --theme-checkbox-outlined-stroke-checked-hover: #3ba8b6;
  --theme-checkbox-outlined-stroke-disabled: #cbd6dc;
  --theme-checkbox-outlined-stroke-error: #b33f38;
  --theme-checkbox-outlined-background-standard: #e7ecef1a;
  --theme-checkbox-outlined-background-hover: #cbd6dc33;
  --theme-checkbox-outlined-background-pressed: #aebfc94d;
  --theme-checkbox-outlined-background-checked: #1b9aaa;
  --theme-checkbox-outlined-background-checked-hover: #3ba8b6;
  --theme-checkbox-outlined-background-disabled: #cbd6dc4d;
  --theme-checkbox-outlined-background-checked-disabled: #cbd6dc4d;
  --theme-checkbox-border-radius: 3;
  --theme-side-bar-background: #bac5f9;
  --theme-side-bar-button-standard: #c1cbf9;
  --theme-side-bar-button-hover: #fffF;
  --theme-side-bar-button-pressed: #cbd6dc;
  --theme-side-bar-button-active: #c1cbf9;
  --theme-cloud-stroke: #c1cbf9;
  --theme-table-header-background-standard: #ffffff;
  --theme-table-header-background-hover: #f5f7f9;
  --theme-table-header-background-pressed: #e7ecef;
  --theme-table-header-background-disabled: #cbd6dc;
  --theme-table-header-divider: #e7ecef;
  --theme-table-header-button-background-standard: #fffF;
  --theme-table-header-button-background-hover: #e7ecef;
  --theme-table-header-button-background-pressed: #d9e1e6;
  --theme-table-header-button-background-disabled: #cbd6dc;
  --theme-table-header-button-background-active: #778289;
  --theme-table-header-mixed-padding-left: 10;
  --theme-table-header-mixed-padding-right: 4;
  --theme-table-header-mixed-padding-top: 6;
  --theme-table-header-mixed-padding-bottom: 6;
  --theme-table-header-margin: 4;
  --theme-table-header-only-icon-padding-left: 6;
  --theme-table-header-only-icon-padding-right: 6;
  --theme-table-header-only-icon-padding-top: 6;
  --theme-table-header-only-icon-padding-bottom: 6;
  --theme-table-divider-vertical: #e7ecef;
  --theme-table-divider-horizontal: #e7ecef;
  --theme-table-row-background-standard: #ffffff;
  --theme-table-row-background-hover: #f5f7f9;
  --theme-table-row-background-pressed: #e7ecef;
  --theme-table-row-background-disabled: #cbd6dc;
  --theme-table-row-background-active: #d4ecef;
  --theme-table-icon-color-male: #5e77f0;
  --theme-table-icon-color-female: #f84496;
  --theme-table-bage-analytics: #415ee6;
  --theme-table-bage-urgent: #a11e16;
  --theme-table-bage-report: #5d808e;
  --theme-table-bage-corruption: #6e09b1;
  --theme-table-bage-drugs: #ef476f;
  --theme-table-bage-weapon: #91972a;
  --theme-table-cell-text-padding-left: 10;
  --theme-table-cell-text-padding-right: 10;
  --theme-table-cell-text-padding-top: 6;
  --theme-table-cell-text-padding-bottom: 6;
  --theme-table-cell-text-margin: 4;
  --theme-table-cell-only-icon-padding-left: 12;
  --theme-table-cell-only-icon-padding-right: 12;
  --theme-table-cell-only-icon-padding-top: 12;
  --theme-table-cell-only-icon-padding-bottom: 12;
  --theme-table-cell-only-icon-margin: 4;
  --theme-table-cell-background-standard: #ffffff;
  --theme-table-cell-background-hover: #f5f7f9;
  --theme-table-cell-background-pressed: #e7ecef;
  --theme-table-cell-background-disabled: #cbd6dc;
  --theme-table-cell-button-background-standard: #e7ecef00;
  --theme-table-cell-button-background-hover: #cbd6dc59;
  --theme-table-cell-button-background-pressed: #aebfc980;
  --theme-table-cell-button-background-disabled: #cbd6dc;
  --theme-table-cell-button-background-active: #778289;
  --theme-table-cell-mixed-padding-left: 6;
  --theme-table-cell-mixed-padding-right: 6;
  --theme-table-cell-mixed-padding-top: 6;
  --theme-table-cell-mixed-padding-bottom: 6;
  --theme-table-cell-mixed-margin: 4;
  --theme-table-button-padding-left: 6;
  --theme-table-button-padding-right: 6;
  --theme-table-button-padding-top: 6;
  --theme-table-button-padding-bottom: 6;
  --theme-table-button-header-border-radius: 2;
  --theme-table-button-group-additional-padding-left: 4;
  --theme-table-button-group-additional-padding-right: 4;
  --theme-table-button-group-additional-padding-top: 4;
  --theme-table-button-group-additional-padding-bottom: 4;
  --theme-table-button-group-additional-background: #fffF;
  --theme-table-button-group-additional-margin: 10;
  --theme-table-button-group-border-radius: 2;
  --theme-size-base: 2;
  --theme-size-1x: 2;
  --theme-size-2x: 4;
  --theme-size-3x: 6;
  --theme-size-4x: 8;
  --theme-size-5x: 10;
  --theme-size-6x: 12;
  --theme-size-7x: 14;
  --theme-size-8x: 16;
  --theme-size-9x: 18;
  --theme-size-10x: 20;
  --theme-size-11x: 22;
  --theme-size-12x: 24;
  --theme-size-13x: 26;
  --theme-size-14x: 28;
  --theme-size-15x: 30;
  --theme-size-16x: 32;
  --theme-size-17x: 34;
  --theme-size-18x: 36;
  --theme-size-19x: 38;
  --theme-size-20x: 40;
  --theme-border-radius-1x: 1;
  --theme-border-radius-2x: 2;
  --theme-border-radius-3x: 3;
  --theme-border-radius-4x: 4;
  --theme-border-radius-5x: 5;
  --theme-border-radius-6x: 6;
  --theme-border-radius-7x: 7;
  --theme-border-radius-8x: 8;
  --theme-border-radius-9x: 9;
  --theme-border-radius-10x: 10;
  --theme-border-radius-11x: 11;
  --theme-border-radius-12x: 12;
  --theme-border-radius-13x: 13;
  --theme-border-radius-14x: 14;
  --theme-border-radius-15x: 15;
  --theme-border-radius-16x: 16;
  --theme-border-radius-17x: 17;
  --theme-border-radius-18x: 18;
  --theme-border-radius-19x: 19;
  --theme-border-radius-20x: 20;
  --theme-border-radius-base: 1;
  --theme-space-base: 2;
  --theme-space-1x: 2;
  --theme-space-2x: 4;
  --theme-space-3x: 6;
  --theme-space-4x: 8;
  --theme-space-5x: 10;
  --theme-space-6x: 12;
  --theme-space-7x: 14;
  --theme-space-8x: 16;
  --theme-space-9x: 18;
  --theme-space-10x: 20;
  --theme-space-11x: 22;
  --theme-space-12x: 24;
  --theme-space-13x: 26;
  --theme-space-14x: 28;
  --theme-space-15x: 30;
  --theme-space-16x: 32;
  --theme-space-17x: 34;
  --theme-space-18x: 36;
  --theme-space-19x: 38;
  --theme-space-20x: 40;
  --theme-border-width-base: 1;
  --theme-font-button-medium-font-family: Montserrat;
  --theme-font-button-medium-font-weight: Regular;
  --theme-font-button-medium-line-height: 160%;
  --theme-font-button-medium-font-size: 14;
  --theme-font-button-medium-letter-spacing: 0%;
  --theme-font-button-medium-paragraph-spacing: 0;
  --theme-font-button-medium-text-case: ;
  --theme-font-button-small-font-family: Montserrat;
  --theme-font-button-small-font-weight: Regular;
  --theme-font-button-small-line-height: 150%;
  --theme-font-button-small-font-size: 12;
  --theme-font-button-small-letter-spacing: 0%;
  --theme-font-button-small-paragraph-spacing: 0;
  --theme-font-button-big-font-family: Montserrat;
  --theme-font-button-big-font-weight: Regular;
  --theme-font-button-big-line-height: 160%;
  --theme-font-button-big-font-size: 16;
  --theme-font-button-big-letter-spacing: 0%;
  --theme-font-button-big-paragraph-spacing: 0;
  --theme-font-input-body-font-family: Montserrat;
  --theme-font-input-body-font-weight: Regular;
  --theme-font-input-body-line-height: 160%;
  --theme-font-input-body-font-size: 12;
  --theme-font-input-body-letter-spacing: 0%;
  --theme-font-input-body-paragraph-spacing: 0;
  --theme-font-input-body-text-case: ;
  --theme-font-input-label-font-family: Montserrat;
  --theme-font-input-label-font-weight: Regular;
  --theme-font-input-label-line-height: auto;
  --theme-font-input-label-font-size: 10;
  --theme-font-input-label-letter-spacing: 0%;
  --theme-font-input-label-paragraph-spacing: 0;
  --theme-font-input-label-text-case: ;
  --theme-font-body-12-font-family: Montserrat;
  --theme-font-body-12-font-weight: Regular;
  --theme-font-body-12-line-height: 160%;
  --theme-font-body-12-font-size: 12;
  --theme-font-body-12-letter-spacing: 0%;
  --theme-font-body-12-paragraph-spacing: 0;
  --theme-font-body-12-text-decoration: ;
  --theme-font-body-12-text-case: ;
  --theme-font-body-10-font-family: Montserrat;
  --theme-font-body-10-font-weight: Regular;
  --theme-font-body-10-line-height: 160%;
  --theme-font-body-10-font-size: 10;
  --theme-font-body-10-letter-spacing: 0%;
  --theme-font-body-10-paragraph-spacing: 0;
  --theme-font-body-10-text-decoration: ;
  --theme-font-body-10-text-case: ;
  --theme-font-body-14-font-family: Montserrat;
  --theme-font-body-14-font-weight: Regular;
  --theme-font-body-14-line-height: 160%;
  --theme-font-body-14-font-size: 14;
  --theme-font-body-14-letter-spacing: 0%;
  --theme-font-body-14-paragraph-spacing: 0;
  --theme-font-body-14-text-decoration: ;
  --theme-font-body-14-text-case: ;
  --theme-font-body-16-font-family: Montserrat;
  --theme-font-body-16-font-weight: Regular;
  --theme-font-body-16-line-height: 160%;
  --theme-font-body-16-font-size: 16;
  --theme-font-body-16-letter-spacing: 0%;
  --theme-font-body-16-paragraph-spacing: 0;
  --theme-font-body-16-text-decoration: ;
  --theme-font-body-16-text-case: ;
  --theme-font-table-header-font-family: Montserrat;
  --theme-font-table-header-font-weight: Medium;
  --theme-font-table-header-line-height: 26;
  --theme-font-table-header-font-size: 12;
  --theme-font-table-header-letter-spacing: 0%;
  --theme-font-table-header-paragraph-spacing: 0;
  --theme-font-table-cell-normal-font-family: Montserrat;
  --theme-font-table-cell-normal-font-weight: Regular;
  --theme-font-table-cell-normal-line-height: 26;
  --theme-font-table-cell-normal-font-size: 12;
  --theme-font-table-cell-normal-letter-spacing: 0%;
  --theme-font-table-cell-normal-paragraph-spacing: 0;
  --theme-font-table-cell-small-font-family: Montserrat;
  --theme-font-table-cell-small-font-weight: Regular;
  --theme-font-table-cell-small-line-height: 26;
  --theme-font-table-cell-small-font-size: 10;
  --theme-font-table-cell-small-letter-spacing: 0%;
  --theme-font-table-cell-small-paragraph-spacing: 0;
  --theme-font-modal-header-font-family: Montserrat;
  --theme-font-modal-header-font-weight: SemiBold;
  --theme-font-modal-header-line-height: 140%;
  --theme-font-modal-header-font-size: 18;
  --theme-font-family-body: Montserrat;
  --theme-font-family-head: Montserrat;
  --theme-radiobutton-filled-background-standard: #e7ecef;
  --theme-radiobutton-filled-background-hover: #cbd6dc;
  --theme-radiobutton-filled-background-pressed: #aebfc9;
  --theme-radiobutton-filled-background-disabled: #cbd6dc;
  --theme-radiobutton-filled-background-checked: #1b9aaa;
  --theme-radiobutton-filled-background-checked-hover: #3ba8b6;
  --theme-radiobutton-filled-background-checked-disabled: #cbd6dc4d;
  --theme-radiobutton-filled-stroke-error: #b33f38;
  --theme-radiobutton-outlined-stroke-standard: #778289;
  --theme-radiobutton-outlined-stroke-hover: #04181a;
  --theme-radiobutton-outlined-stroke-pressed: #1b9aaa;
  --theme-radiobutton-outlined-stroke-checked: #1b9aaa;
  --theme-radiobutton-outlined-stroke-checked-hover: #3ba8b6;
  --theme-radiobutton-outlined-stroke-disabled: #cbd6dc;
  --theme-radiobutton-outlined-stroke-error: #b33f38;
  --theme-radiobutton-outlined-background-standard: #e7ecef1a;
  --theme-radiobutton-outlined-background-hover: #cbd6dc33;
  --theme-radiobutton-outlined-background-pressed: #aebfc9b3;
  --theme-radiobutton-outlined-background-checked: #1b9aaa;
  --theme-radiobutton-outlined-background-checked-hover: #3ba8b6;
  --theme-radiobutton-outlined-background-disabled: #cbd6dc4d;
  --theme-radiobutton-outlined-background-checked-disabled: #cbd6dc4d;
  --theme-radiobutton-border-radius: 20;
  --theme-dropdown-background-disabled: #cbd6dc;
  --theme-shadow-1x: [object Object];
  --theme-modal-padding-left: 20;
  --theme-modal-padding-right: 20;
  --theme-modal-padding-top: 20;
  --theme-modal-padding-bottom: 20;
  --theme-modal-gap: 20;
  --theme-modal-border-radius: 12;
      }